@import url(styles.css);

header {
    background-color: #EAC926;
    padding: 20px;
}
section i{
    text-align: left;
}

.titulares {
    font-size: 24px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

article h4{
    font-size: 18px;
}

article h3{
    font-size: 16px;
}

.burger-menu a {
    display: block;
    color: white;
    font-size: 18px;
    max-width: 50px;
    padding: 15px 0px;
    background-color: #03264C;
    margin-top: 5px;
    border-radius: 8px;
    margin: auto;
}

nav a{
    display: block;
    color: #03264C;
}

section h2 {
    text-align: center;
}

#banner{
    width: 100vw;
    text-align: center;
}

.searchbar {
    max-height: 50px;
}

@media (min-width: 360px){
    header nav {
        display: none;
    }
    .burger-menu{
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .encabezado {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .logo, .searchbar {
        flex-grow: 1;
        max-width: 40%;
        margin: 5px;
        margin-top: 10px;    
    }
    .searchbar {
        display: flex;
        align-self: center;
        background-color: white;
        
        
    }
    .searchbar input{
        width: 100%;
        max-height: 25px;
        border: none;
        padding: 10px;
       
        
    }
    .searchbar button {
        width: 10%;
        max-height: 25px;
        border: none;
        background-color: white;
    }
    .cuotas {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px){
    header nav {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .encabezado {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .logo, .searchbar, .cuotas {
        max-width: 30%;
        flex-grow: 0.3;
    }
    .navbars{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .navbar-izq, .navbar-der {
        display: flex;
    }
    .navbar-izq a, .navbar-der a {
        margin: 0px 10px;
    }
    
}
